@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-underline-color: whitesmoke !important;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#swal2-html-container {
  color: #e3e3e3;
}

.cl-socialButtonsBlockButtonText {
  color: #f3f3f3f1 !important;
}

.cl-userButtonOuterIdentifier {
  font-size: 1rem !important;
  text-transform: capitalize !important;
  margin-left: -.6rem !important;
}

@layer components {

  .mincomp {
    @apply min-w-full max-w-full min-h-2;
  }
  .mincomp2 {
    @apply min-w-full max-w-full;
  }
  .flexcenter {
    @apply flex justify-center items-center;
  }

  .navPcActive {
    @apply bg-dark-text bg-opacity-10 [background-size:_100%_2px];
  }
  .navPcNonActive {
    @apply hover:bg-dark-text hover:bg-opacity-15;
  }
  .navPcActive:hover {
    @apply bg-opacity-15;
  }

  .navMobActive {
    @apply right-0 *:right-0;
  }
  .navMobNonActive {
    @apply -right-full *:-right-full;
  }
  .navSideActive {
    @apply border-r-[1.7rem] border-yellow-400 scale-[1.04]  hover:border-r-[1.35rem];
  }

  .slider-controler {
    @apply absolute top-0 z-50 min-w-full max-w-full min-h-2 flex justify-evenly font-bold text-2xl sm:text-4xl;
  }


}
